body {
  margin: 0;
  padding: 0;
}



#home {
  background-image: url('../images/1.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden; 
  height: 100vh; 
}

.main-title {
  text-align: center;
  width: 900px;
  height: 260px;
  margin: 0 auto;
  position: relative;
  top: 30%;
  color: #FFF;
  
}

.main-wrapper {
  width: 780px;
  height: 260px;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  margin: 0 auto;
}

.main-wrapper > h1 {
  font: small-caps 700 110px 'Lato', sans-serif;
  letter-spacing: 5px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  text-shadow: -1px 1px 5px black;
}

h1:nth-child(2) {
  font: small-caps 300 110px 'Lato', sans-serif;
  letter-spacing: 10px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.scroll-indicator{
  width: 80px;
  margin: 0 auto;
  position: relative;
  -webkit-animation: arrow 2s ease infinite;
}
.scroll-left, .scroll-right{
  width: 50px;
  height: 8px;
  background: white;
  position: absolute;
  top: 175px;
}
.scroll-left{
  transform: rotate(45deg);
  left: 0;
  
}
.scroll-right{
  transform: rotate(-45deg);
  right: 0;
}


nav {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #222;
  z-index: 2;
  opacity: .9;
}

.home-link a {
  float: left;
  text-decoration: none;
  color: #E8E8E8;
  margin-left: 40px;
  letter-spacing: 3px;
  font: small-caps 100 45px 'Lato', sans-serif;
}



nav ul li {
  position: relative;
  left: -49px;
  display: inline-block;
  float: right;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #E8E8E8;
  width: 100px;
  margin-right: 10px 0;
  padding-bottom: 10px;
  font: small-caps 20px 'Lato', sans-serif;
  letter-spacing: 1px;
}

nav ul li a:hover {
  color: #FFCC66;
}




#work {
  width: 100%;
  height: 1350px;
  background-image: url('');
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  font: small-caps 500 85px 'Lato', sans-serif;
  letter-spacing: 3px;
  color: #222;
}

.work-section {
  list-style: none;
  text-align: center;
  font: small-caps 20px 'Lato', sans-serif;
  line-height: 70px;
  margin-right: 200px;
  margin-left: 200px;
}


.clients-text {
  font: small-caps 500 50px 'Lato';
  text-align: center;
  letter-spacing: 8px;
  margin-top: 100px;
  line-height: .6;
  letter-spacing: 10px;
}

#portfolio_break {
  width: 100%;
  height: 350px;
  background: linear-gradient(#222, transparent 30%),
    linear-gradient(0deg, #222, transparent 30%), url('../images/2.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  -webkit-filter: grayscale(70%);
}



#bio {
  width: 100%;
  height: 1200px;
  background-image: url('');
}

#bio-header {
  letter-spacing: 10px;
  font-size: 90px;
}

.bio-text {
  width: 700px;
  height: 450px;
  margin: 0 auto;
  margin-top: -30px;
  font: 16px 'Lato', sans-serif;
  color: #555;
  letter-spacing: .5px;
  line-height: 28px;
  text-align: justify;
}

.work-history {
  line-height: 15px;
  text-align: left;
  margin-bottom: 10px;
  width: 760px;
  font-size: 18px;
  letter-spacing: .7px;
}

.work-history > h3 {
  letter-spacing: 4px;
  line-height: 20px;
  font-size: 25px;
}

.dlll{
  line-height: 25px;
}

.chair-image {
  float: right;
  margin-top: 70px;
}

.dates {
  font-size: 13px;
}

.bio-break {
  width: 100%;
  height: 350px;
  background: linear-gradient(#222, transparent 30%),
    linear-gradient(0deg, #222, transparent 30%), url('../images/3.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  -webkit-filter: grayscale(70%);
}



#suite {
  width: 100%;
  height: 600px;

}

.suite-wrapper {
  height: 380px;
  width: 1000px;
  text-align: center;
  margin: 0 auto;
  
}

.suite-image {
  float: left;
  width: 350px;
  height: 350px;
  margin-top: 5px;
  margin-left: 50px;
  border-radius: 50%;

}

.suite-text {
  margin: 0;
  display: inline-block;
  height: 350px;
  width: 500px;
  font: 19px 'Lato', sans-serif;
  color: #555;
  text-align: left;
  letter-spacing: .5px;
  line-height: 25px;
}

.suite-text > h1 {
  font: small-caps 500 85px 'Lato', sans-serif;
  letter-spacing: 3px;
  color: #222;
  margin: 0;
  margin-left: -5px;
  margin-bottom: -15px;
}

.suite-text {
  margin: 0;
  margin-top: -5px;
  display: inline-block;
  height: 350px;
  width: 500px;
  font: 17px 'Lato', sans-serif;
  color: #555;
  text-align: left;
  letter-spacing: .5px;
  line-height: 25px;
}


.suite-break {
  width: 100%;
  height: 350px;
  background: linear-gradient(#222, transparent 30%),
    linear-gradient(0deg, #222, transparent 30%), url('../images/4.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  -webkit-filter: grayscale(70%);
}

#start{
  width: 100%;
  height: 600px;

}

.start-wrapper {
  height: 380px;
  width: 1000px;
  text-align: center;
  margin: 0 auto;
  
}

.start-image {
  float: left;
  width: 350px;
  height: 350px;
  margin-top: 5px;
  margin-left: 50px;
  border-radius: 50%;

}

.start-text {
  margin: 0;
  display: inline-block;
  height: 350px;
  width: 500px;
  font: 19px 'Lato', sans-serif;
  color: #555;
  text-align: left;
  letter-spacing: .5px;
  line-height: 25px;
}

.start-text > h1 {
  font: small-caps 500 85px 'Lato', sans-serif;
  letter-spacing: 3px;
  color: #222;
  margin: 0;
  margin-left: -5px;
  margin-bottom: -15px;
}

.start-text {
  margin: 0;
  margin-top: -5px;
  display: inline-block;
  height: 350px;
  width: 500px;
  font: 17px 'Lato', sans-serif;
  color: #555;
  text-align: left;
  letter-spacing: .5px;
  line-height: 25px;
}


.bio-start{
  width: 100%;
  height: 350px;
  background: linear-gradient(#222, transparent 30%),
    linear-gradient(0deg, #222, transparent 30%), url('../images/7.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  -webkit-filter: grayscale(70%);
}




#contact {
  width: 100%;
  height: 600px;
  background-color: #222;
}

.contact {
  color: white;
  margin-bottom: 25px;
}

.contact-wrapper {
  text-align: center;
  margin-top: 10px;
}

.input {
  display: inline-block;
  margin: 15px 5px;
}

.name, .email {
  width: 326px;
  height: 25px;
  background-color: #222;
  color: #808080;
  font: small-caps 700 20px 'Lato';
  padding-left: 15px;
  padding-bottom: 5px;
  letter-spacing: 1px;
}

::-webkit-input-placeholder { color: #808080; }
:-moz-placeholder { color: #F0F0F0; }
::-moz-placeholder { color: #F0F0F0; }
:-ms-input-placeholder { color: #F0F0F0; }

textarea {
  width: 685px;
  height: 200px;
  margin-bottom: 15px;
  background-color: #222;
  color: #808080;
  font: small-caps 700 20px 'Lato';
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #FFF;
  overflow: auto;
}

input {
  border-radius: 5px;
}

input:focus, textarea:focus {
  background-color: #404040;
  outline: none;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  
}

input:hover, textarea:hover {
  background-color: #404040  ;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

button {
  border-radius: 5px;
  font: small-caps 700 20px 'Lato';
  width: 150px;
  padding-bottom: 5px;
  background-color: #404040;
  color: #FFF;
}

button:focus {
  outline: none;
}

button:active {
  position: relative;
  top: 1px;
  left: 1px;
}

button:hover {
  background-color: #A8A8A8;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.copyright {
  font: small-caps 100 15px 'Lato', sans-serif;
  margin-top: 40px;
  margin-bottom: 5px;
  color: #E8E8E8;
  letter-spacing: 1px;
}